{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% blocktrans %}Вентилируемые фасады GoldKlinker. Фасадные системы «GoldKlinker» - фиброцементные панели для наружной отделки дома{% endblocktrans %}</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

   <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/glightbox.min.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Start header area -->
    <header class="header__section header__transparent">
        <!-- Start Header topbar -->
        <div class="header__topbar bg__primary">
            <div class="container-fluid">
                <div class="header__topbar--inner d-flex align-items-center justify-content-between">
                    <div class="header__shipping">
                        <a href="tel:+998905452275"><p class="header__shipping--text text-white" style="padding-right:60px;">+998905452275</p></a>
                        <a href="tel:+998994322275"><p class="header__shipping--text text-white" style="padding-right:30px;">+998994322275</p></a>
                    </div>
                        <ul> 
                            <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language" onchange="this.form.submit()">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        

    </header>

{% block content %}

{% endblock %}

  <script src="{% static 'js/vendor/popper.js' %}" defer="defer"></script>
  <script src="{% static 'js/vendor/bootstrap.min.js' %}" defer="defer"></script>
  <script src="{% static 'js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
  <script src="{% static 'js/plugins/glightbox.min.js' %}" defer="defer"></script>

  <!-- Customscript js -->
  <script src="{% static 'js/script.js' %}" defer="defer"></script>

</body>
</html>