{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <main class="main__content_wrapper" xmlns="http://www.w3.org/1999/html">
        <!-- Start blog section -->
        <section class="blog__section section--padding">
            <div class="container">
            <ul class="breadcrumb__content--menu d-flex">
                                <li class="breadcrumb__content--menu__items"><a class="text-black" href="https://goldklinker.uz/">{% blocktrans %}Главная страница{% endblocktrans %}</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-black">{% blocktrans %}Блог{% endblocktrans %}</span></li>
                            </ul><br><br>
                <div class="section__heading text-center mb-40">
                    <h2 class="section__heading--maintitle">{% blocktrans %}Последнее сообщение из блога{% endblocktrans %}</h2>
                </div>
                <div class="blog__section--inner p-0">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 mb--n30">
                        {% for i in blog %}
                        <div class="col mb-30">
                            <div class="blog__items">
                                <div class="blog__thumbnail">
                                    <a class="blog__thumbnail--link display-block" href="{% url 'blog-details' i.id %}"><img class="blog__thumbnail--img display-block" src="{{ i.img.url }}" alt="blog-img"></a>
                                </div>
                                <div class="blog__content">
                                    <ul class="blog__content--meta d-flex">
                                        <li class="blog__content--meta__text">
                                            <svg class="blog__content--meta__icon" xmlns="http://www.w3.org/2000/svg" width="12.569" height="13.966" viewBox="0 0 12.569 13.966">
                                                <path  data-name="Icon material-date-range" d="M8.69,9.285h-1.4v1.4h1.4Zm2.793,0h-1.4v1.4h1.4Zm2.793,0h-1.4v1.4h1.4Zm1.4-4.888h-.7V3h-1.4V4.4H7.991V3h-1.4V4.4H5.9a1.39,1.39,0,0,0-1.39,1.4L4.5,15.569a1.4,1.4,0,0,0,1.4,1.4h9.776a1.4,1.4,0,0,0,1.4-1.4V5.793A1.4,1.4,0,0,0,15.673,4.4Zm0,11.173H5.9V7.888h9.776Z" transform="translate(-4.5 -3)" fill="currentColor"/>
                                            </svg>
                                            {{ i.date }}
                                        </li>
                                    </ul>
                                    <h3 class="blog__content--title h4"><a href="{% url 'blog-details' i.id %}">{{ i.title }}</a></h3>
                                    <p class="blog__content--desc">{{ i.text }}</p>
                                    <a class="blog__content--btn primary__btn" href="{% url 'blog-details' i.id %}">{% blocktrans %}Читать далее{% endblocktrans %}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination__area bg__gray--color">
                       <nav class="pagination justify-content-center">
                            <ul class="pagination__wrapper d-flex align-items-center justify-content-center">

                                <!-- Oldingi sahifa -->
                        {% if page_obj.has_previous %}
                        <li style="margin-right: 10px"><a href="?page={{ page_obj.previous_page_number }}" style="font-size: 27px">&lt;</a></li>
                        {% else %}
                        <li class="disabled" style="margin-right: 10px"><span style="font-size: 27px">&lt;</span></li>
                        {% endif %}
                        <!-- Sahifa raqamlari -->
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active" style="font-size: 20px; background-color: yellow; width: 40px; height: 40px; display:flex; border-radius:50%; justify-content: center; align-items: center"><span style="margin:10px; margin-right:auto; margin-left: auto;">{{ num }}</span></li><div style="width: 10px"></div>
                        {% else %}
                        <li><a href="?page={{ num }}" style="font-size: 20px">{{ num }}</a></li><div style="width: 10px"></div>
                        {% endif %}
                        {% endfor %}
                        <!-- Keyingi sahifa -->
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" style="font-size: 27px">&gt;</a></li>
                        {% else %}
                        <li class="disabled" style="margin-left: 1px"><span style="font-size: 27px">&gt;</span></li>
                        {% endif %}</ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- End blog section -->
    </main>
{% endblock %}
