{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <main class="main__content_wrapper">

        <!-- Start blog details section -->
        <section class="blog__details--section section--padding">
            <div class="container">
                <ul class="breadcrumb__content--menu d-flex">
                                <li class="breadcrumb__content--menu__items"><a class="text-black" href="https://goldklinker.uz/">{% blocktrans %}Главная страница{% endblocktrans %}</a></li>
                                <li class="breadcrumb__content--menu__items"><span class="text-black">{% blocktrans %}Блог{% endblocktrans %}</span></li>
                            </ul>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog__details--wrapper">
                            <div class="entry__blog">
                                <div class="blog__post--header mb-30">
                                    <h2 class="post__header--title mb-15"></h2>
                                </div>
                                <div class="blog__thumbnail mb-30">
                                    <img class="blog__thumbnail--img border-radius-10" src="{{ blog_details.img.url }}" height="100" width="100" alt="blog-img">
                                </div>
                                <div class="blog__details--content">
                                    <h3 class="blog__details--content__subtitle mb-25">{{ blog_details.title }}</h3><br>
                                    <p class="blog__details--content__subtitle mb-25">{{ blog_details.description }}</p><br><hr><br>
                                    <p class="blog__details--content__desc mb-20">{{ blog_details.text }}</p><br>
                                </div>
                                <h5>{{ blog_details.date }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End blog details section -->
    </main>
{% endblock %}
